
body {   
	background: rgb(166,255,6);
	background: linear-gradient(90deg, rgba(166,255,6,0.30885857761073177) 1%, rgba(40,188,231,0) 39%, rgba(240,2,111,0.2248249641653537) 100%);
}




.main__container {
	max-width: 1230px;
	margin: 0px auto;
}

.main__title {
	text-align: center;
	font-size: 30px;
	color: rgb(187, 0, 255);
	font-weight: 900;
	margin: 10px 0px 20px 0px;
}

.main__p {
	margin: 0px 0px 0px 40px;
	width: 70px;
	height: 90px;
}

.main__p p {
	
	color: rgba(255, 4, 4, 0.882);
	font-size: 30px;
	font-weight: 900;	
	min-height: 160px;
	background-image: url('../img/arrows.svg');
	background-repeat: no-repeat;
	background-position: 00% 30%;
}

	.block__green {
	margin: 0px 0px 0px 60px;
	background-color: rgb(106, 255, 0);
	opacity: 0;
	width: 20px;
	height: 200px;
	display: inline-block;
}


.block_green:hover {
	visibility: visible;
	opacity: 1;
}


.block__blue {
	margin: 0px 0px 0px -5px;
	width: 200px;
	height: 10px;
	background-color: blue;
	opacity: 0;
	display: inline-block;
}

.block__blue:hover {
	opacity: 1;
}


.block__pink {
	margin: 0px 0px 0px -5px;
	width: 300px;
	height: 10px;
	background-color: rgb(255, 0, 187);
	opacity: 0;
	display: inline-block;
}

.block__pink:hover {
	opacity: 1;
}

.block__red {
	margin: 0px 0px 0px -5px;
	width: 10px;
	height: 150px;
	background-color: rgb(255, 0, 0);
	opacity: 0;
	display: inline-block;
}

.block__red:hover {
	opacity: 1;
}

.main .block__black {
	margin: 0px 0px 150px -15px;
	width: 300px;
	height: 10px;
	opacity: 0;
	background-color: rgb(18, 17, 17);
	display: inline-block;
}

.block__black:hover {
	opacity: 1;
}

.block__orange {
	margin: 0px 0px 150px -15px;
	width: 10px;
	height: 50px;
	background-color: rgb(239, 143, 25);
	opacity: 0;
	display: inline-block;
	
}

.block__orange:hover {
	opacity: 1;
}

.block__violet {
	margin: 0px 0px 200px -15px;
	width: 200px;
	height: 5px;
	background-color: rgb(196, 25, 239);
	opacity: 0;
	display: inline-block;
}


.block__violet:hover {
	opacity: 1;
}

.block__yellow {
	margin: 0px 0px 0px -10px;
	width: 5px;
	height: 200px;
	background-color: rgb(235, 239, 25);
	opacity: 0;
	display: inline-block;
}


.block__yellow:hover {
	opacity: 1;
}


.block__brown {
	margin: 0px 0px 0px -8px;
	width: 350px;
	height: 10px;
	background-color: rgb(239, 114, 25);
	opacity: 0;
	display: inline-block;
}

.block__brown:hover {
	opacity: 1;
}

.block__cat {
	margin: -50px 0px 0px 1400px;
	opacity: 0;
}

.block__cat:hover {
	opacity: 1;
}



